@import 'variables';

.card-product-item{
    margin-top: 20px;
}
.card-title{
    color: purple;
}
a{
    text-decoration: none;
}
.img-thumbnail{
    width: 225px;
    height: 225px;
    margin-bottom: 10px;
}
.btn-buy{
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{
    width: 78px;
    height: 78px;
}
.form-label{
    color: blueviolet;
}
.user-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 4px;
}
.form-select-action{
    margin-left: 5px;
    margin-right: 5px;
}