<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <input type="text" name="types" />
            <input type="text" name="price" />
            <input
                type="text"
                name="q"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Input here..."
            />
            <select
                name="color"
                class="form-control"
                id="exampleFormControlSelect1"
            >
                <option>Choose color</option>
                <option>Red</option>
                <option>Blue</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>